@charset "UTF-8";
/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
    
*/

body{
    background-color:rgb(236, 255, 209);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(16, 83, 16);
}
h1#principal{
    text-align: center;
    background-color: rgba(22, 48, 21, 0.863);
    color: white;
}
h2{
    color: rgb(47, 115, 117);
}
.basico{
    color: #3c805e;
}
.intermediario{
    color: #80793c;
}
.avancado{
    color: #803c3c;
}
.destaque{
    background-color: rgba(110, 110, 24, 0.521);
}